<div class="box">
  <h2>新しいアカウントを作成</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :ユーザー名 %><span class="must">必須</span><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>
    <div class="field">
      <%= f.label :メールアドレス %><span class="must">必須</span><br />
      <%= f.email_field :email, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :パスワード %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上)</em><span class="must">必須</span>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :パスワード確認 %><span class="must">必須</span><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "新しいアカウントを作成" %>
    </div>
  <% end %>
  <p><%= link_to "すでにアカウントをお持ちの方はログイン", :new_user_session%></p>
</div>